<!DOCTYPE html>
 <html lang="en" ng-app>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Angular for beginners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="../../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../assets/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="../../tasks/part0/inedx.html">Angular demo</a>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-controller=""><!-- SOMETHING IS MISSING HERE -->
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li><a href="../../tasks/part0/index.html">Part 0</a></li>
              <li><a href="../../tasks/part1/index.html">Part 1</a></li>
              <li class="active"><a href="../../tasks/part2/index.html">Part 2</a></li>
              <li><a href="../../tasks/part3/index.html">Part 3</a></li>
              <li><a href="../../tasks/part4/index.html">Part 4</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1> ngControllers, ngSubmit </h1>
            <br/>
            <ol>
              <li>Add missing code to display list of superheros</li>
              <li>Display information about superpowers</li>
              <li>Use form to add more superheros</li>
              <li>Add more superheros to SuperherosController</li>
            </ol><!--/ol-->
            <div>
              <form ng-submit="addNewHero()">
                <input type="text" ng-model="newHero.name" required placeholder="Enter name" /><br/>
                <input type="text" ng-model="newHero.superpower" required placeholder="Enter superpower" /><br/>
                <input type="text" ng-model="newHero.image" required placeholder="Enter image url" /><br/>
                <input type="submit" value="Add new hero"/>
              </form>
            <div>
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span3" ng-repeat='hero in superheros'>
              <h2 ng-bind='hero.name'></h2>
              <p>Super power:</p>
              <p></p><!-- SOMETHING IS MISSING HERE -->
              <img ng-src="{{ hero.image }}" alt="{{ hero.name }}" />
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
      <hr>
    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/angular.min.js"></script>
    <script src="../../tasks/part2/superheros_controller.js"></script>

  </body>
</html>
